.AboutSection,
.firstSection,
.ContactHeader,
.storeSection,
.headerSectionAccount,
.CartSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  background: url(/public/images/image1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -10%;
}

/* Home Component */
.buttonContainer button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
  margin: 5px;
  padding: 0 15px 0 15px;
  border-radius: 3px;
  font-weight: 550;
  animation: pop-up 2s ease-in-out infinite;

}

.buttonContainer button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

@keyframes pop-up {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


/* About Component */

.AboutSection {
  background: url(/public/images/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-start hr,
hr {
  color: rgb(255, 0, 0);
  border-width: 3px;
  width: 40%;
}

.card1 {
  padding: 3% 0 3% 0;
  background-color: rgb(249, 245, 245);
}

.card2 {
  padding: 3% 0 3% 6%;
}

.col {
  margin-bottom: 20px;
}

.card2 hr,
.card3 hr {
  margin: auto;
}

.card2 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.card3 {
  display: flex;
  justify-content: center;
  background: url(/public/images/about.jpg);
  height: 50vh;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.card3 .content {
  padding-top: 15vh;
  width: 30%;
  height: 100%;
  background-color: rgb(249, 245, 245);
}

.card3 .content h3 {
  margin-top: 30px;
}

.card3 .content img {
  margin: 10px;
  width: 50px;
}

.card4 {
  margin-top: 100px;
}

.card4 .card {
  border: none;
  font-size: 12px;
}

.card4 img {
  width: 70px;
  height: 70px;
  margin: auto;
}


/* Contact Component */
.ContactHeader {
  background: url(/public/images/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contactBody {
  overflow-x: hidden;
  margin-top: 10vh;
}

.contactBody img {
  width: 10%;
  margin-right: 5%;
}

.contactBody span {
  display: flex;
  margin-left: 15vw;
  margin-top: 4%;
}

.needhelp {
  margin-top: 10%;
}

.needhelp #number {
  color: rgb(0, 60, 255);
}

.contactForm {
  width: 40vw;
  background-color: rgb(214, 219, 224);
  height: 70vh;
  display: flex;
  justify-content: center;
}

.form-control {
  width: 100%;
  resize: none;
}


/* Store & Home Component */
.storeSection {
  background: url(/public/images/store1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-around;
}

.storeContainer {
  display: relative;
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  background-color: rgb(203, 222, 222);
}

.featured {
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
  padding: 5px;
  margin: 0;
  font-size: 16px;
}

.storeContainer img {
  width: 100%;
  height: 250px;
}

.storeContainer h4 {
  font-weight: 550;
}

.storeContainer h6 {
  outline-color: rgba(46, 42, 42, 0.568);
}

.storeContainer .dropdown-toggle,
.storeButton {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  background-color: white;
  color: black;
}


/* Account Component */
.headerSectionAccount{
  background: url(/public/images/store1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sectionAccount{
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: flex-start;
}
aside{
  display: grid;
  grid-template-columns: repeat(2, 45%);
  margin-top: 15vh;
  justify-content: flex-start;
}
aside ul li  {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  color: rgb(0, 0, 0);
  width: 300px;
  border: 1px solid rgb(227, 218, 218);
}
aside ul li:hover{
      cursor: pointer;
}
aside ul li:first-child {
  background-color: rgb(225, 225, 225);
  cursor: default;
}


/* Cart Component */
.CartSection{
  background: url(/public/images/cart1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cartBox {
  margin-bottom: 20px;
}
.cartBox p {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  width: 200px;
  align-items: center;
}
.imagetd{
  display: flex;
  padding: 5px;
  justify-content: center;
    align-items: center;
}
.itemInfo {
  display: flex;
  align-items: center;
}

tbody img {
  width: 100px;
}

input[type='number'] {
  width: 50px;
}

.discount input{
  width: 120px;
  border: 1px solid black;
  border-radius: 2px;
}
.discount button{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  margin: 5px;
  padding: 0 15px 0 15px;
  border-radius: 3px;
  font-weight: 550;
}
.discount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10vw;
}

.input-container {
  display: flex;
  align-items: center;
}
.total-price {
  margin-top: 10px; /* add margin to create space between input and total price */
}


@media screen and (max-width: 720px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 45%);
  } 
  .teamContainer .col{
    margin-left: 10vw;
  }
  .card3 .content h3 {
    margin-top: 0px;
  }
  
  .card3 .content img {
    margin: 0px;
    width: 50px;
  }
  .card4{
    margin-left: 15vw;
  }
  .contactBody .row{
    display: block;
  }
  .contactForm {
    width: 100vw;
  }
  .discount {
    padding-right: 5vw;
  }
  .teamContainer{
    margin-left: -10vw;
  }
  .w-50{
    margin-top: 80%;
  }
  .footercol{
   margin-left: 30%;
  }
  aside > ul li{
    width: 100px;
  }
  .aside{
    grid-template-columns: repeat(1, 100%);
  }
}
