.App {
  text-align: center;
}

.nav-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  font-variant: small-caps;

}

.nav-link:focus,
.nav-link:hover {
  color: rgb(255, 255, 255) !important;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.525);
}

a {
  text-decoration: none !important;
}

.LogAcc {
  display: flex;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgba(27, 29, 29, 0.82);
  border-radius: 5px;
  margin: 2px;
  padding: 2px 15px 2px 15px;
  font-weight: 550;
}
.LogAcc{
  position: relative;
  max-width:100px ;
  max-height: 28px;
  display: grid;
  left: 28vw;
  top: 10px;
}
.LogAcc:hover {
  color: rgb(255, 240, 240) !important;
  background-color: black;
}
.LogAcc p{
  margin-top: -5px;
  font-size: 10px;
  font-weight: 900;
}
.LogAcc img{
  margin-top: -20px;
  
  width: 70px;
  height: 20px;
}
@media screen and (max-width: 720px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 45%);
  } 
  .LogAcc {
    left: 38vw;
  }
  .navbar {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-toggler{
  background-color: rgb(255, 255, 255);
}
.footerContainer {
  padding-left: 10px !important;
}

}
/* FooterMenu */
.footerContainer {
  padding-left: 10vw;
}

.footerMenu .navbar,
.footerMenu ul {
  background-color: rgb(255, 255, 255);
  list-style: none;
}

.footerMenu .nav-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  animation: pop-up 2s ease-in-out infinite;

}

.footerMenu .nav-link:focus,
.footerMenu .nav-link:hover {
  color: rgb(0, 0, 0) !important;
}

.footerMenu hr {
  width: 100%;
  color: rgb(201, 201, 201);
  height: 1px;
}

@keyframes pop-up {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

